@model IEnumerable<pajo22.Models.ProductModels>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/head_foot.cshtml";
}
<!-- Include the noUiSlider CSS -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/15.7.1/nouislider.css" rel="stylesheet">
<div class="max-w-[1440px] mx-auto px-3">
    <div class="bg-white shadow-xl my-5 lg:my-10 rounded-xl md:rounded-2xl p-3 md:p-5 flex flex-col md:flex-row justify-between">
        <!-- فیلتر محصولات -->
        <div class="md:w-4/12 lg:w-3/12 md:mr-5 mb-5 md:mb-0">
            <div class="bg-white mb-4 px-3 py-3 border rounded-xl">
                <div>
                    <div class="text-lg font-medium">
                        بر اساس نام:
                    </div>
                </div>
                <input type="text" id="nameFilter" class="form-input mt-1 block w-full bg-gray-100 rounded-lg border border-gray-300 px-3 py-2" />
            </div>
            <div class="bg-white mb-4 px-3 py-3 border rounded-xl">
                <div>
                    <div class="opacity-80 mb-1">
                        بر اساس قیمت:
                        <div id="price-slider" class="mb-4"></div>
                    </div>
                    <input type="number" id="minPriceFilter" placeholder="Min Price" class="form-input mt-1 block w-full bg-gray-100 rounded-lg border border-gray-300 px-3 py-2" />
                    <input type="number" id="maxPriceFilter" placeholder="Max Price" class="form-input mt-1 block w-full bg-gray-100 rounded-lg border border-gray-300 px-3 py-2" />
                </div>
            </div>
            <button id="applyFilters" class="bg-blue-500 text-white px-4 py-2 rounded-lg">اعمال فیلتر ها</button>
        </div>

        <!-- لیست محصولات -->
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4 md:w-8/12 lg:w-9/12" id="productList">
            @foreach (var product in Model)
            {
                <a href="./single-product.html" class="my-2 py-2 md:p-3 border rounded-xl flex items-center sm:inline hover:shadow-lg transition product-item">
                    <div class="Image-box sm:mb-6">
                        <div>
                            <img class="hover:scale-105 transition rounded-md sm:rounded-3xl w-24 sm:w-full mx-auto" src="@Html.DisplayFor(modelItem => product.Image)" alt="Product Image" />
                        </div>
                    </div>
                    <div class="flex flex-col w-full">
                        <span class="text-xs sm:text-sm opacity-90 mb-5">
                            <div class="leading-7 h-auto">
                                @Html.DisplayFor(modelItem => product.Name)
                            </div>
                        </span>
                        <div class="flex justify-end mb-2 text-sm opacity-80 pl-3 md:pl-0">
                            <div>@Html.DisplayFor(modelItem => product.Price)</div>
                            <div>تومان</div>
                        </div>
                        <div class="flex justify-end text-xs opacity-75 pl-3 md:pl-0">
                            <div class="line-through">1.350.000</div>
                            <div class="line-through">تومان</div>
                        </div>
                    </div>
                </a>
            }
        </div>
    </div>
</div>
<!-- Include the noUiSlider JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/15.7.1/nouislider.min.js"></script>
<script>
    var priceSlider = document.getElementById('price-slider');
    var minPriceFilter = document.getElementById('minPriceFilter');
    var maxPriceFilter = document.getElementById('maxPriceFilter');

    noUiSlider.create(priceSlider, {
        start: [0, 500],
        snap: true,
        connect: true,
        range: {
            'min': 0,
            '10%': 1000000,
            '20%': 20000000,
            '30%': 30000000,
            '40%': 40000000,
            '50%': 50000000,
            '60%': 60000000,
            '70%': 70000000,
            '80%': 80000000,
            '90%': 90000000,
            'max': 100000000
        }
    });

    priceSlider.noUiSlider.on('update', function (values, handle) {
        var value = values[handle];
        handle ? maxPriceFilter.value = value : minPriceFilter.value = value;
    });
</script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        // اعمال عملکرد فیلتر ها
        function applyFilters() {
            var nameFilter = document.getElementById("nameFilter").value.toLowerCase();
            var minPriceFilter = parseFloat(document.getElementById("minPriceFilter").value);
            var maxPriceFilter = parseFloat(document.getElementById("maxPriceFilter").value);
            var productList = document.getElementsByClassName("product-item");
            for (var i = 0; i < productList.length; i++) {
                var productName = productList[i].querySelector(".leading-7").innerText.toLowerCase();
                var productPrice = parseFloat(productList[i].querySelector(".text-sm").innerText);
                // در صورت نبود محصولات در فیلتر
                if ((nameFilter !== "" && !productName.includes(nameFilter)) || (minPriceFilter && productPrice < minPriceFilter) || (maxPriceFilter && productPrice > maxPriceFilter)) {
                    productList[i].style.display = "none";
                } else {
                    productList[i].style.display = "block";
                }
            }
        }
        // اعمال دکمه فیلتر
        document.getElementById("applyFilters").addEventListener("click", function () {
            applyFilters();
        });
    });
</script>