@model IEnumerable<pajo22.Models.ProductModels>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/head_foot.cshtml";
}

<div class="max-w-[1440px] mx-auto px-3">
    <div class="bg-white shadow-xl my-5 lg:my-10 rounded-xl md:rounded-2xl p-3 md:p-5 flex flex-col md:flex-row justify-between">

        <!-- Filter Form -->
        <div class="md:w-4/12 lg:w-3/12 md:mr-5 mb-5 md:mb-0">
            <form asp-action="Index" method="get">
                <div class="bg-white mb-4 px-3 py-3 border rounded-xl">
                    <div>
                        <div class="text-lg font-medium">
                            بر اساس نام:
                        </div>
                    </div>
                    <input type="text" name="nameFilter" id="nameFilter" class="form-input mt-1 block w-full bg-gray-100 rounded-lg border border-gray-300 px-3 py-2" />
                </div>
                <div class="bg-white mb-4 px-3 py-3 border rounded-xl">
                    <div>
                        <div class="opacity-80 mb-1">
                            بر اساس قیمت:
                        </div>
                        <input type="number" name="minPriceFilter" placeholder="Min Price" class="form-input mt-1 block w-full bg-gray-100 rounded-lg border border-gray-300 px-3 py-2" />
                        <input type="number" name="maxPriceFilter" placeholder="Max Price" class="form-input mt-1 block w-full bg-gray-100 rounded-lg border border-gray-300 px-3 py-2" />
                    </div>
                </div>
                <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded-lg">اعمال فیلتر ها</button>
            </form>
        </div>

        <!-- Product List -->
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4 md:w-8/12 lg:w-9/12" id="productList">
            @foreach (var product in Model)
            {
                <a href="">
                    <div class="image-box sm:mb-6">
                        <div>
                            <img class="hover:scale-105 transition rounded-md sm:rounded-3xl w-24 sm:w-full mx-auto" src="@Html.DisplayFor(modelItem => product.Image)" alt="Product Image" />
                        </div>
                    </div>
                    <div class="flex flex-col w-full">
                        <span class="text-xs sm:text-sm opacity-90 mb-5">
                            <div class="leading-7 h-auto">
                                @Html.DisplayFor(modelItem => product.Name)
                            </div>
                        </span>
                        <div class="flex justify-end mb-2 text-sm opacity-80 pl-3 md:pl-0">
                            <div>@Html.DisplayFor(modelItem => product.Price)</div>
                            <div>تومان</div>
                        </div>
                        <div class="flex justify-end text-xs opacity-75 pl-3 md:pl-0">
                            <div class="line-through">1.350.000</div>
                            <div class="line-through">تومان</div>
                        </div>
                    </div>
                </a>
            }
        </div>
    </div>
</div>
