@model IEnumerable<pajo22.Models.ProductModels>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/head_foot.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <title>No Products Found</title>
</head>
<body>
    <div class="text-center py-8">
        <h2 class="text-xl font-semibold">کالایی با این مشخصات پیدا نکردیم</h2>
        <p class="text-gray-500 mt-2">پیشنهاد می‌کنیم فیلترها را تغییر دهید</p>
         <a href="/" class="bg-blue-500 text-white px-4 py-2 rounded-lg mt-3 inline-block">نشان دادن تمامی محصولات </a>
         
    </div>
</body>
</html>
