@model pajo22.Models.Attributes

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Attributes</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AttributeName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AttributeName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Subgroup)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Subgroup.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.AttributeID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
