@model pajo22.Models.Attributes

@{
    ViewData["Title"] = "Delete Attribute";
    Layout = "~/Views/Shared/head_foot.cshtml";
}

<div class="max-w-[1440px] mx-auto px-3 bg-white rounded-xl shadow-xl">
    <!-- White box -->
    <div class="my-5 lg:my-10 p-3 md:p-5">
        <div class="bg-gray-200 rounded-xl shadow-md p-3">
            <!-- Gray nested box -->
            <h2 class="text-2xl font-semibold mb-3">حذف مشخصات</h2>
            <hr class="mb-5" />



                <dt class="font-semibold">نام ویژگی</dt>
                <dd>@Html.DisplayFor(model => model.AttributeName)</dd>
            </dl>

            <form asp-action="DeleteConfirmed" asp-route-id="@Model.AttributeID" method="post">
                <div class="mt-5">
                    <button type="submit" class="bg-red-500 text-white px-4 py-2 rounded-lg">Delete</button>
                    <a asp-action="Index" asp-controller="SubgroupAttribute" class="bg-gray-300 text-gray-800 px-4 py-2 rounded-lg ml-2">Back to List</a>
                </div>
            </form>
        </div>
    </div>
</div>
