@model pajo22.Models.ProductModels

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/head_foot.cshtml";
}

<h1 class="text-3xl font-semibold mb-4">Edit</h1>

<div class="max-w-[1440px] mx-auto px-3">
    <div class="bg-white shadow-xl my-5 lg:my-10 rounded-xl md:rounded-2xl p-3 md:p-5">
        <h4 class="text-lg font-semibold mb-2">Product Details</h4>
        <hr class="mb-4" />
        <div class="md:w-8/12 lg:w-9/12">
            <form asp-action="Edit" method="post" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-red-500 text-sm mb-4"></div>
                <input type="hidden" asp-for="Id" />
                <div class="mb-4">
                    <label asp-for="Name" class="block text-gray-700 text-sm font-bold mb-2"></label>
                    <input asp-for="Name" class="form-input mt-1 block w-full bg-gray-100 rounded-lg border border-gray-300 px-3 py-2" />
                    <span asp-validation-for="Name" class="text-red-500 text-xs italic"></span>
                </div>
                <div class="mb-4">
                    <label asp-for="price" class="block text-gray-700 text-sm font-bold mb-2"></label>
                    <input asp-for="price" class="form-input mt-1 block w-full bg-gray-100 rounded-lg border border-gray-300 px-3 py-2" />
                    <span asp-validation-for="price" class="text-red-500 text-xs italic"></span>
                </div>
                <div class="mb-4">
                    <label asp-for="image" class="block text-gray-700 text-sm font-bold mb-2"></label>
                    <input type="file" name="imageFile" accept="image/*" class="form-input mt-1 block w-full bg-gray-100 rounded-lg border border-gray-300 px-3 py-2" />
                    <div class="image-container mt-2 max-w-[300px] max-h-[300px] overflow-hidden bg-gray-200 rounded-lg">
                        <img src="@Html.DisplayFor(model => model.image)" alt="Product Image" class="w-full h-auto" /> <!-- نشان دادن تصویر -->
                    </div>
                    <span asp-validation-for="image" class="text-red-500 text-xs italic"></span>
                </div>
                <div class="mb-4">
                    <label asp-for="Description" class="block text-gray-700 text-sm font-bold mb-2"></label>
                    <input asp-for="Description" class="form-input mt-1 block w-full bg-gray-100 rounded-lg border border-gray-300 px-3 py-2" />
                    <span asp-validation-for="Description" class="text-red-500 text-xs italic"></span>
                </div>
                <div class="mb-4">
                    <label asp-for="SubgroupId" class="block text-gray-700 text-sm font-bold mb-2"></label>
                    <select asp-for="SubgroupId" class="form-select mt-1 block w-full bg-gray-100 rounded-lg border border-gray-300 px-3 py-2" asp-items="ViewBag.SubgroupId"></select>
                    <span asp-validation-for="SubgroupId" class="text-red-500 text-xs italic"></span>
                </div>
                <div class="flex items-center justify-between">
                    <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="mt-4">
    <a asp-action="Index" class="text-blue-500 hover:underline">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
