@model pajo22.Models.GroupModels

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/head_foot.cshtml";
}

<div class="max-w-[1440px] mx-auto px-3">
    <div class="bg-white shadow-xl my-5 lg:my-10 rounded-xl md:rounded-2xl p-3 md:p-5">
        <div class="text-lg md:text-xl opacity-70 mb-3 text-center">
            Details
        </div>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-5 px-5 md:px-20">
            <div class="mb-4">
                <div class="text-sm opacity-80">
                    <div class="text-lg md:text-xl opacity-70 mb-3">
                        GroupModels
                    </div>
                    <hr class="mb-4" />
                    <dl class="grid grid-cols-2 gap-x-2 text-sm">
                        <dt class="col-span-1 font-semibold text-slate-700">
                            نام گروه
                        </dt>
                        <dd class="col-span-1 text-gray-700">
                            @Model?.Name
                        </dd>
                    </dl>
                </div>
            </div>
            <div class="mb-4">
                <div class="flex justify-end">
                    <a asp-action="Edit" asp-route-id="@Model?.Id" class="mr-2 border rounded-lg px-2 py-1 bg-blue-500 text-white">Edit</a>
                    <a asp-action="Index" class="border rounded-lg px-2 py-1 bg-green-500 text-white">Back to List</a>
                </div>
            </div>
        </div>
    </div>
</div>
